<html>  
<head>
<meta name="viewport" content="initial-scale=1.0, width=device-width" />
<script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"type="text/javascript" charset="utf-8"></script>
<script type='text/javascript' src='scripts/config.js'></script>
</head>
  
<body style='margin: 0'>
<div style="width: 100%; height: 100%" id="mapContainer"></div>

<script>	
      //var mykey = config.here_api
      // Initialize the platform object:
      var platform = new H.service.Platform({
        'apikey': '9HWxsDm3semNFgAYzaOqh5zwbvB1CWN6Qf3WmbF4Duw'
      });
	  
	   const lat = 40.68;
	   const long = -73.78;
	
	// Obtain the default map types from the platform object
      var maptypes = platform.createDefaultLayers();

      // Instantiate (and display) a map object:
      var map = new H.Map(
        document.getElementById('mapContainer'),
        maptypes.vector.normal.map,
        {
          zoom: 10,
          center: { lat: lat, lng: long }  
        });
		
	var marker = new H.map.Marker({ lat: lat, lng: long });
		
	// Add the marker to the map:
	map.addObject(marker);
		
</script>
</body>
</html>