<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Parkomfort</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        {#    <a class="navbar-brand" href="/">Home</a>#}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>

                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="">Github</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="jumbotron">
    <div class="container">
        <h2 class="text-center">Parkcomfort</h2>
        {% block message %}
        {% endblock %}
    </div>
</div>
<br>
<br>
<div class="container col-lg-12">
    {% block content %}
    {% endblock %}
    <div class="page-header">
        <h2 class="text-center">Precinct-Level Vehicle Larceny</h2>
    </div>

    <div class="row pt-2">
        <div class="col-lg-6">
            <div id="larceny"></div>
        </div>
        <div class="col-lg-6 mt-5">
            <div class="precinct-stats"><h4>Stats</h4></div>
            <form method="POST">
                <label>Selected Precinct:</label>
                <input id="precinctcode-larceny" name="precinctcode_larceny">
                <input type="submit">
            </form>
            <div>place holder
                <p>{{ precinctcode_larceny }}</p>
                <div id="larceny_pct" class="violation-graphs"></div>
            </div>
        </div>
    </div>

    <div class="page-header">
        <h2 class="text-center">Precinct-Level Parking Violation</h2>
    </div>

    <div class="row justify-content-center">
        <div class="col-4 text-end my-auto">
            <label for="yearselector">Select Parking Violation Data for Year: </label>
        </div>
        <div class="col-4">
            <select id="yearselector" class="form-select">
                <option selected value="violation-20">2020</option>
                <option value="violation-21">2021</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div id="violations" class="violation-graphs"></div>
        </div>
        <div class="col-lg-6 mt-5">
            <div class="precinct-stats"><h4>Stats</h4></div>
            <form method="POST">
                <label>Selected Precinct:</label>
                <input id="precinctcode-violation" name="precinctcode">
                <input type="submit">
            </form>
        </div>
    </div>


</div>

<script type="text/javascript">

    const graph_larceny = {{graphJSON_larceny | safe}};
    Plotly.react("larceny", graph_larceny.data, graph_larceny.layout).then(gd => {
        gd.on('plotly_click', d => {
            var pt = (d.points || [])[0]
            document.getElementById('precinctcode-larceny').value = pt.location;
            console.log(pt.location)
        })
    });

    const graph_violation_20 = {{ graphJSON_violation_20 | safe }};
    Plotly.react("violations", graph_violation_20.data, graph_violation_20.layout).then(gd => {
        gd.on('plotly_click', d => {
            var pt = (d.points || [])[0]
            document.getElementById('precinctcode-violation').value = pt.location;
            console.log(pt.location)
        })
    })

    const graph_violation_21 = {{ graphJSON_violation_21 | safe }};
    const graph_violation = {{ graphJSON_violation | safe }};

    const graphJSON_larceny_pct = {{ graphJSON_larceny_pct | safe }};
    if (graphJSON_larceny_pct) {
        Plotly.react("larceny_pct", graphJSON_larceny_pct.data, graphJSON_larceny_pct.layout)
    }

    $(function () {
        $('#yearselector').change(function () {
            optionValue = $(this).val()
            console.log(optionValue)
            if (optionValue == "violation-20") {
                Plotly.react("violations", graph_violation_20.data, graph_violation_20.layout).then(gd => {
                    gd.on('plotly_click', d => {
                        var pt = (d.points || [])[0]
                        document.getElementById('precinctcode-violation').value = pt.location;
                        console.log(pt.location)
                    })
                })
            } else if (optionValue == "violation-21") {
                Plotly.react("violations", graph_violation_21.data, graph_violation_21.layout).then(gd => {
                    gd.on('plotly_click', d => {
                        var pt = (d.points || [])[0]
                        document.getElementById('precinctcode-violation').value = pt.location;
                        console.log(pt.location)
                    })
                })
            }
        });
    });
</script>

</body>
</html>
