{% extends "master.html" %}
{% block title %}Results{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-4">
            <form method="POST">
                <div class="form-group">
                    <label for="inputAddress">Search parking meters near:</label>
                    <input type="text" class="form-control" id="inputAddress" name="search_addr">
                </div>

                <label for="riskSlider" class="form-label mt-2">Choose risk level (with 4 being highest risk): </label>

                <input type="range" class="form-range" min="1" max="4" step="1" id="riskSlider" name="risk_level">

                <div><p>Risk level = <span id="riskValue"></span></p></div>


                <label for="radiusSlider" class="form-label">Define radius for search (miles):</label>
                <input type="range" class="form-range" min="0" max="30" id="radiusSlider" name="radius_miles">

                <div><p>Search Radius (miles) = <span id="radiusValue"> </span></p></div>


                <button type="submit" class="btn btn-primary mt-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-pin-map-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M3.1 11.2a.5.5 0 0 1 .4-.2H6a.5.5 0 0 1 0 1H3.75L1.5 15h13l-2.25-3H10a.5.5 0 0 1 0-1h2.5a.5.5 0 0 1 .4.2l3 4a.5.5 0 0 1-.4.8H.5a.5.5 0 0 1-.4-.8l3-4z"></path>
                        <path fill-rule="evenodd"
                              d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999z"></path>
                    </svg>
                    GO
                </button>

                <script>
                    var slider = document.getElementById("riskSlider");
                    var output = document.getElementById("riskValue");
                    var sliderRadius = document.getElementById("radiusSlider");
                    var outputRadius = document.getElementById("radiusValue");
                    output.innerHTML = slider.value; // Display the default slider value
                    outputRadius.innerHTML = sliderRadius.value; // Display the default slider value

                    // Update the current slider value (each time you drag the slider handle)
                    slider.oninput = function () {
                        output.innerHTML = this.value;
                    }

                    sliderRadius.oninput = function () {
                        outputRadius.innerHTML = this.value;
                    }

                    // update search box and risk level
                    if ({{ risk_level | safe}}!=
                    null && '{{ search_addr | safe}}' != null && {{ radius_miles | safe}} != null
                    )
                    {
                        const risk_level = '{{ risk_level | safe}}';
                        const search_addr = '{{ search_addr | safe}}';
                        const radius_miles = '{{ radius_miles | safe}}';
                        document.getElementById('riskSlider').value = risk_level;
                        document.getElementById('riskValue').value = risk_level;
                        document.getElementById('inputAddress').value = search_addr;
                        document.getElementById('radiusSlider').value = radius_miles;
                        document.getElementById('radiusValue').value = radius_miles;

                    }

                    output.innerHTML = slider.value; // Display the default slider value
                    outputRadius.innerHTML = sliderRadius.value; // Display the default slider value


                </script>


            </form>

        </div>
        <div class="col-8">
            <div id="searchresult" class="col-4">
                <div class="alert alert-warning" role="alert" id="searchwarning" style="display: none">
                    <span id="warning"></span>
                </div>
                <script>
                    var warning = document.getElementById("warning");
                    var searchwarning = document.getElementById("searchwarning")
                    if ('{{ search_result | safe}}' != 'success' &&'{{ search_result | safe}}' != 'null') {
                        const search_result = '{{ search_result | safe}}';
                        warning.innerHTML = search_result;
                        searchwarning.style.display='block';
                    }
                </script>
            </div>

            <div id="onload">
                <script>
                    const graph_onload = {{ graph_onload | safe}};
                    Plotly.react("onload", graph_onload, {});
                </script>
            </div>

            <div id="closest">
                <script>
                    const graph_closest = {{ graph_closest | safe}};
                    Plotly.react("onload", graph_closest, {});
                </script>
            </div>
        </div>
    </div>


{% endblock %}
